<nav id="cashNav" class="navBox">
  <p>Menú</p>
  <ul class="navList">
    <div class="listMenuBox" *ngFor="let item of myMenu">
      <li [id]="item.id" class="navElement opt" (click)="tMenu($event, item)">
        <a
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="item.link"
        >
          <!-- <fa-icon [icon]="item.icon" class="menuIcon"></fa-icon> -->
          {{ item.name }}
        </a>
      </li>
    </div>
  </ul>
  <button>CERRAR SESION</button>
</nav>
