.registroBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
  width: 85%;
  padding: 20px;
  background-color: rgba(196, 196, 196, 0.4);
  border-radius: 37px;
  margin: auto;
  .registroHeaderBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 130px;
      margin: auto;
    }
    p {
      margin: 0;
      font-size: 30px;
      font-weight: bold;
      color: white;
      font-family: "Inter";
    }
  }
  .registroContentBox {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .registroColumn {
      width: 27%;
      padding: 1%;
      mat-datepicker-toggle button {
        color: white;
      }
      .registroText {
        color: white;
        font-size: 14px;
        font-weight: normal;
        text-align: justify;
      }
      p {
        font-size: 20px;
        font-weight: bold;
        color: white;
        font-family: 'Inter', sans-serif;
      }
      .formInput {
        width: 100%;
        color: white;
      }
      ::ng-deep .formInput {
        mat-label {
          color: white;
          font-family: 'Comfortaa', sans-serif;
          font-size: 12px;
        }
        .mat-datepicker-toggle-default-icon {
          color: white;
        }
        &:hover .mat-form-field-ripple,
        &.mat-focused .mat-form-field-ripple,
        .mat-form-field-underline {
          background-color: white !important;
        }
      }
      .tagsBox {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        width: 100%;
        margin-top: 10px;
        ::ng-deep
          .mat-checkbox-checked.mat-accent
          .mat-checkbox-ripple
          .mat-ripple-element {
          opacity: 0.03 !important;
          background-color: #006b80 !important;
        }
        ::ng-deep .mat-checkbox-frame {
          border-color: white;
        }
        ::ng-deep .mat-checkbox-label:hover {
          font-weight: bold;
        }
        ::ng-deep.mat-checkbox-layout {
          white-space: normal !important;
        }

        ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
        .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
          background-color: #006b80;
        }
        p {
          margin: 0;
          font-size: 13px;
          font-weight: normal;
          a {
            cursor: pointer;
            color: white;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
      button {
        background-color: #006b80;
        color: white;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
        border-radius: 22.5px;
        width: 90%;
        margin: 30px auto;
        height: 45px;
        font-size: 16px;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .loginBox {
    img {
      width: 145px;
    }
  }
}
