<div class="queHacemosBox">
    <div class="queHacemos">
        <p>QUE HACEMOS</p>
        <h2>Es la combinación de dos estructuras: </h2>
        <div class="tarjetasBox">
            <div class="tarjeta">
                <img src="/assets/i2.png" alt="">
                <h3>Económica</h3>
                <p>
                    Que nos garantiza hacer crecer nuestro dinero mientras ahorramos.
                </p>
            </div>
            <div class="tarjeta">
                <img src="/assets/i1.png" alt="">
                <h3>Académica</h3>
                <p>
                    Donde aprendemos a crear nuestros propios negocios e inversiones.
                </p>
            </div>
        </div>
    </div>
</div>