<div class="historialBox">
    <h4>Historial de pagos</h4>
    <div class="historialBoxItems">
        <a href="#" class="historialItem">
            <p>17 mar 2022</p>
            <div>
                <h3>Junior Calzadilla</h3>
                <p>Pago completado</p>
            </div>
           <p>100$</p>
        </a>
        <a href="#" class="historialItem">
            <p>17 mar 2022</p>
            <div>
                <h3>Junior Calzadilla</h3>
                <p>Pago completado</p>
            </div>
           <p>100$</p>
        </a>
        <a href="#" class="historialItem">
            <p>17 mar 2022</p>
            <div>
                <h3>Junior Calzadilla</h3>
                <p>Pago completado</p>
            </div>
           <p>100$</p>
        </a>
        <a href="#" class="historialItem">
            <p>17 mar 2022</p>
            <div>
                <h3>Junior Calzadilla</h3>
                <p>Pago completado</p>
            </div>
           <p>100$</p>
        </a>
        <a href="#" class="historialItem">
            <p>17 mar 2022</p>
            <div>
                <h3>Junior Calzadilla</h3>
                <p>Pago completado</p>
            </div>
           <p>100$</p>
        </a>
        <a href="#" class="historialItem">
            <p>17 mar 2022</p>
            <div>
                <h3>Junior Calzadilla</h3>
                <p>Pago completado</p>
            </div>
           <p>100$</p>
        </a>
        <a href="#" class="historialItem">
            <p>17 mar 2022</p>
            <div>
                <h3>Junior Calzadilla</h3>
                <p>Pago completado</p>
            </div>
           <p>100$</p>
        </a>
    </div>
</div>
