.historialBox {
    width: 95%;
    margin: auto;
    h4 {
        font-family: 'Inter';
        font-size: 20px;
        color: #fff;
    }
    .historialBoxItems {
        overflow: scroll-y; 
        height: 70vh;
        .historialItem {
            border-bottom: 1px solid #fff;
            text-decoration: none;
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            color: #fff;
            h3 {
                margin-bottom: 5px;
                font-family: 'Inter';
                font-size: 12px;
            }
            p {
                font-family: 'Comfortaa';
                font-size: 11px;
            }
        }
    }
}