<div class="menuHeaderBox">
    <div class="logoBox">
        <img src="/assets/logo.png" alt="">
    </div>
    <div class="enlaces"> 
        <div class="menuBox">
            <ul>
                <li>
                    <a href="/#quienesSomos">Quienes somos</a>
                </li>
                <li>
                    <a href="/#queHacemos">Que hacemos</a>
                </li>
                <li>
                    <a href="/#formaParte">Forma parte</a>
                </li>
                <li>
                    <a href="/#contacto">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="auth">
            <a *ngIf="!auth.isAuthenticated()" class="register" href="/auth/registro">REGISTRATE</a>
            <a *ngIf="!auth.isAuthenticated()" class="login" href="auth/">INICIAR SESIÓN</a>
            <button *ngIf="auth.isAuthenticated()" class="login" (click)="auth.logout()">CERRAR SESIÓN</button>
        </div>
    </div>
    <div class="burger" [ngClass]="{'activo': toggle, 'inactivo': !toggle}" > 
        <button class="btnArrow" (click)="hidden()">burger</button>
        <div class="burgerBox">
            <ul>
                <li>
                    <a href="/#quienesSomos">Quienes somos</a>
                </li>
                <li>
                    <a href="/#queHacemos">Que hacemos</a>
                </li>
                <li>
                    <a href="/#formaParte">Forma parte</a>
                </li>
                <li>
                    <a href="/#contacto">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="auth">
            <a class="register">REGISTRATE</a>
            <button class="login">INICIAR</button>
        </div>
    </div>
    <button class="toggle" (click)="hidden()">icon</button>
</div>