.listUserBox {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  table {
    width: 100%;
    background: none;
    th, td {
      color: #fff;
    }
    th {
      font-family: 'Inter';
      font-size: 14px;
    }
    td {
      font-family: 'Comfortaa';
      font-size: 12px;

      button {
        border: none;
        border-radius: 50px;
        padding: 7px 25px;
      }
    }
  }
  
  .buttonBox {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    
    button {
      border: none;
      border-radius: 50px;
      padding: 10px 50px;
      font-family: 'Comfortaa';
      margin-right: 4rem;
    }
  }
}