<div class="detallesBox">
    <h4>Detalles</h4>
    <div>
        <div>
            <h4>Junior Calzadilla</h4>
            <p>Digital net</p>
            <p>Cantaura, Anzoategui Venezuela</p>
            <p>Calle xxxx, Casa xxxx</p>
            <p>Zona postal 6007</p>
            <p>0424 0000000</p>
            <p>holajunior@gmail.com</p>
        </div>
        <div>
            <div>
                <p>Cantidad bruta</p>
                <p>100$</p>
            </div>
            <div>
                <span>ID de transacción: 0000000000</span>
            </div>
        </div>
    </div>
    <div>
        <button>VOLVER AL HISTORIAL</button>
    </div>
</div>
