<div class="contactoBox">
    <div class="contacto">
        <h3>ENVÍANOS UN MENSAJE</h3>
        <h2>¿Hablamos?</h2>
        <p>Respondemos tu mensaje lo antes posible.</p>
        <form class="formularioBox">
            <div class="inputs">
                <input class="input" type="text" name="nombre" placeholder="Nombre">
                <input class="input" type="email" name="correo" placeholder="Correo">
                <input class="input" type="text" name="telefono" placeholder="Teléfono">
                <input class="input" type="text" name="" placeholder="---">
            </div>
            <textarea class="textArea" name="mensaje" id="" rows="10" placeholder="Mensaje"></textarea>
            <button class="btn" type="submit">ENVIAR</button>
        </form>
    </div>
</div>