<div class="infoHeaderBox">
    <div class="infoBox">
        <div class="infoItem">
            <img src="/assets/i5.png">
            <p>+1 (000) 0000 0000</p>
        </div>
        <div class="infoItem">
            <img src="/assets/i8.png">
            <p>hola@cashpro.com</p>
        </div>
    </div>
    <div class="socialIconsBox">
        <i><img src="/assets/facebook.png" alt=""></i>
        <i><img src="/assets/twitter.png" alt=""></i>
        <i><img src="/assets/in.png" alt=""></i>
    </div>
</div>