.dialogBoxTitle {
    display:flex; 
    align-items: center;
    img {
        margin-right: 10px;
    }
    h2 {
        margin-bottom: 0;
        color: #fff;
        font-family: 'Inter';
    }
}

.formDialog {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    .formInputBox {
        .formInputMiniBox {
            width: 80%;
            display: flex;
            flex-direction: column;
            h4 {
                color: #fff;
                font-family: 'Inter';
            }
            input {
                background: none;
                padding: 10px 0;
                font-family: 'Comfortaa';
                font-size: 10px;
                color: #fff;
                border: none;
                outline: none;
                border-bottom: 1px solid #fff;
                &::placeholder {
                    color: #fff;
                    font-size: 12px;
                }
            }
            .inputCheckout {
                width: 100%;
                display: flex;
                font-family: 'Comfortaa';
                padding-left: 10px;
                margin-bottom: 30px;
            }
            button {
                color: #fff;
                padding: 10px 50px;
                border-radius: 20px;
                background-color: #006B80;
                border: none;
                font-family: 'Comfortaa', sans-serif;
            }
            .check {
                display: flex;
                .checkbox {
                    width: none !important;
                }
                p {
                    color: #fff;
                    font-family: 'Comfortaa';
                    font-size: 12px;
                }
            }
        }
    }
    .textBox {
        color: #fff;
        font-family: 'Comfortaa';
        font-size: 12px;
    }
}

::ng-deep.mat-dialog-container {
    background-color: rgba(196, 196, 196, 0.6);

}

::ng-deep.mat-dialog-content::-webkit-scrollbar {
    width: 6px;
}

::ng-deep.mat-dialog-content::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

::ng-deep.mat-dialog-content::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    font-size: 15px;
}