<div >
    <div class="dialogBoxTitle">
        <img src="/assets/grafico-escritorio.png" width="60px">
        <h2 mat-dialog-title>Registrate con nosotros</h2>
    </div>
    <mat-dialog-content class="mat-typography"> 
        <form class="formDialog">
            <div class="formInputBox">
                <div class="formInputMiniBox" > 
                    <h4>Datos personales</h4>
                    <input class="inputCheckout" type="text" placeholder="Nombres">
                    <input class="inputCheckout" type="text" placeholder="Apellidos">
                    <input class="inputCheckout" type="text" placeholder="Documento de identidad">
                    <!-- <input class="inputCheckout" type="date" placeholder="Fecha de nacimiento"> -->
                    <input class="inputCheckout" type="text" placeholder="Fecha de Nacimiento" onfocus="(this.type='date')" onblur="(this.type='text')">
                </div>
                <div class="formInputMiniBox">
                    <h4>Informacion de contacto</h4>
                    <input class="inputCheckout" type="text" placeholder="Telefono">
                    <input class="inputCheckout" type="email" placeholder="Correo">
                    <input class="inputCheckout" type="text" placeholder="Direccion">
                </div>
            </div>
            <div class="formInputBox">
                <div class="formInputMiniBox">
                    <h4>Datos para crear tu cuenta</h4>
                    <input class="inputCheckout" type="text" placeholder="Correo">
                    <input class="inputCheckout" type="text" placeholder="Usuario">
                    <input class="inputCheckout" type="password" placeholder="Contraseña">
                    <input class="inputCheckout" type="password" placeholder="Confirmar Contraseña">
                    <div class="check">
                        <input type="checkbox">
                        <p>Términos, Condiciones Generales y demás Políticas y principios regulan el uso del sitio web</p>
                    </div>
                    <button>REGISTRARSE</button>
                </div>
            </div>
            <div class="textBox">
                <p>“Es una PLATAFORMA 
                    diseñada para gente con coraje y valentía, que quieran poner 
                    en marcha este extraordinario sistema, que  transformara su 
                    vida para un futuro mejor.” 
                    <br><br>
                    
                    Uniéndose de manera voluntaria e independiente, trabajando 
                    en equipo con igualdad y equidad. 
                </p>
            </div>
        </form>


    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <!-- <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
    </mat-dialog-actions>
</div>