<div class="perfilBox">
    <div class="col-12 imgPerfil">
        <img src="/assets/grafico-escritorio.png" alt="" width="90">
    </div>
    <div class="perfilInfoBox">
        <div class="infoBox">
            <div class="infoTitle">
                <h3>Datos personales</h3> <mat-icon>edit</mat-icon> 
            </div>
            <div class="info">
                <p>Junior Ernesto</p>
                <p>Calzadilla</p>
                <p>V 24.000.000</p>
                <p>11/12/1994</p>
            </div>
        </div>
        <div class="infoBox">
            <div class="infoTitle">
                <h3>Datos de cuenta</h3> <mat-icon>edit</mat-icon> 
            </div>
            <div class="info">
                <p>ft94juniorecalzadilla@gmail.com</p>
                <p>Juniorec</p>
                <p>* * * * * *</p>
            </div>
        </div>
        <div class="infoBox">
            <div class="infoTitle">
                <h3>Informacion de contacto</h3> <mat-icon>edit</mat-icon> 
            </div>
            <div class="info">
                <p>0424 000 00 00</p>
                <p>ft94juniorecalzadilla@gmail.com</p>
                <p>Cantaura  Anzoategui Venezuela</p>
            </div>
        </div>
        <div>
            <button>GUARDAR CAMBIOS</button>
        </div>
    </div>
</div>
