<div class="oficinaBox">
    <h4 class="buttonMovil titleUser" style="padding: 15px">Oficina Virtual</h4>
    <div class="oficinaTablaBox">
        <div class="oficinaTabla">
            <div class="oficinaTitle">
                <h4>NOTIFICACIONES</h4>
                <span class="material-icons">add_alert</span>
            </div>
            <div class="oficinaInfo">
                <p class="oficinaInfoItem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <p class="oficinaInfoItem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <p class="oficinaInfoItem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <p class="oficinaInfoItem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <p class="oficinaInfoItem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <p class="oficinaInfoItem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <p class="oficinaInfoItem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <p class="oficinaInfoItem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            </div>
        </div>
        <div class="select">
             <p>24H</p>
             <p>1S</p>
             <p>1M</p>
             <p>1A</p>
        </div>
    </div>
    <div>

    </div>
</div>