

.oficinaBox {
    width:90%; 
    margin: auto;
    .buttonMovil {
        display: none
      } 
    .oficinaTablaBox {
        display:flex; 
        justify-content: space-between;
        .oficinaTabla {
            width: 100%;
            margin-right: 30px;
            border-radius: 30px; 
            background-color: #fff; 
            opacity: .8;
            .oficinaTitle {
                border-bottom: 1px solid #006B80; 
                display:flex; 
                padding: 10px 15px 0 15px;
                justify-content: space-between;
                h4 {
                    color: #006B80;
                    font-family: 'Comfortaa';
                }
                span {
                    color: #006B80;
                }
            }
            .oficinaInfo {
                overflow-y: scroll; 
                margin: 10px 20px; 
                height: 7rem;
                
                .oficinaInfoItem {
                    border-bottom: 1px solid #006B80; 
                    padding-bottom: 8px;
                    color: #006B80;
                    font-family: 'Comfortaa';
                    font-size: 12px;
                }
            }
        }
        .containerTabs {
            width: 40%;
            
            .tabs {
                width: 100%;
                display: flex;
                font-size: .8rem;
                background-color: #C4C4C4;
                padding: 13px;
                border-radius: 100px;
                position: relative;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        
                .tab {
                    width: 110px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    border-radius: 50px;
                    cursor: pointer;
                    z-index: 2;
                }

                input[type=radio] {
                    display: none;
                    &:checked + label {
                        color: #fff;
                    }
                }
                input[id="radio-1"]:checked ~ .glider {
                        transform: translateX(0);
                    transition: 0.25s ease-out;
                }

                input[id="radio-2"]:checked ~ .glider {
                        transform: translateX(100%);
                    transition: 0.25s ease-out;
                }

                input[id="radio-3"]:checked ~ .glider {
                        transform: translateX(190%);
                    transition: 0.25s ease-out;
                }

                input[id="radio-4"]:checked ~ .glider {
                        transform: translateX(290%);
                    transition: 0.25s ease-out;
                }

                .glider {
                    position: absolute;
                    top: 7px;
                    left: 10px;
                    display: flex;
                    height: 30px;
                    width: 80px;
                    background-color: #006B80;
                    z-index: 1;
                    border-radius: 99px;
                    transition: 0.25 ease-out;
                }

            }
        }
        
        // .select {
        //     width: 40%;
        //     height: 30px;
        //     display: flex;
        //     justify-content: space-around;
        //     align-items: center;
        //     border-radius: 30px;
        //     background-color: #C4C4C4;
        //     p {
        //         margin-bottom: 0;
        //         color: #006B80;
        //         font-size: 14px;
        //         font-weight: 600;
        //         padding: 6px 25px;
        //     }
        //     p:nth-child(1) {
        //         margin-bottom: 0;
        //         border-radius: 30px;
        //         background-color: #006B80;
        //         color: #fff;
        //     }
            
        // }
    }
}

.oficinaInfo::-webkit-scrollbar {
    width: 6px;
}

.oficinaInfo::-webkit-scrollbar-track {
    // background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.oficinaInfo::-webkit-scrollbar-thumb {
    background-color: #006B80;
    border-radius: 10px;
}
@media only screen and (max-width: 768px) {
    
    .buttonMovil {
        display: flex !important;
        margin-bottom: 0 !important;
    }
    .titleUser {
        font-size: 20px;
        color: #fff;
        font-family: 'Inter';
      }

    .oficinaTablaBox {
        height: 300px;
        flex-direction: column !important;

        .select {
            width: 60% !important;
        }
    }
  }