<div class="equipoBox">
    <div class="equipo">
        <h3>NOS GUSTA LO QUE HACEMOS</h3>
        <h2>Equipo de Expertos</h2>
        <div class="tarjetaPerfil">
            <div class="perfil">
                <img src="/assets/logo-02.png" alt="">
                <div class="informacionPerfil">
                    <h4>David Cooper</h4>
                    <h5>PROFESION</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="redesSociales">
                        <i><img src="/assets/facebook.png" alt=""></i>
                        <i><img src="/assets/twitter.png" alt=""></i>
                        <i><img src="/assets/in.png" alt=""></i>
                    </div>
                </div>
            </div>
            <div class="perfil">
                <img src="/assets/logo-03.png" alt="">
                <div class="informacionPerfil">
                    <h4>Oliver Celis</h4>
                    <h5>PROFESION</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="redesSociales">
                        <i><img src="/assets/facebook.png" alt=""></i>
                        <i><img src="/assets/twitter.png" alt=""></i>
                        <i><img src="/assets/in.png" alt=""></i>
                    </div>
                </div>
            </div>
            <div class="perfil">
                <img src="/assets/logo-04.png" alt="">
                <div class="informacionPerfil">
                    <h4>Manuel Lopez</h4>
                    <h5>PROFESION</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="redesSociales">
                        <i><img src="/assets/facebook.png" alt=""></i>
                        <i><img src="/assets/twitter.png" alt=""></i>
                        <i><img src="/assets/in.png" alt=""></i>
                    </div>
                </div>
            </div>
            <div class="perfil">
                <img src="/assets/logo-05.png" alt="">
                <div class="informacionPerfil">
                    <h4>Tim Johson</h4>
                    <h5>PROFESION</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="redesSociales">
                        <i><img src="/assets/facebook.png" alt=""></i>
                        <i><img src="/assets/twitter.png" alt=""></i>
                        <i><img src="/assets/in.png" alt=""></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>