<div class="quienesSomosBox">
    <div class="quienesSomos">
        <p class="subtitulo">QUIENES SOMOS</p>
        <h2 class="titulo">Sobre nosotros</h2>
        <p class="parrafo">
            Es una plataforma para uso exclusivo  de los integrantes de (SOCIEDAD  SIN FRONTERAS). 
            Una “ASOCIACION CIVIL” con fines comunes, motivados por un emprendiendo compartido, 
            cuyo fin es el  desarrollo económico y crecimiento  personal  de todo aquel que 
            quiera unirse voluntariamente, para juntos construir una sociedad con futuro.
        </p>
        <button class="btn">FORMA PARTE</button>
    </div>
    <div class="imagen-logo">
        <img class="fondo" src="/assets/imagen.png" alt="">
        <img class="logo" src="/assets/grafico-home.png" alt="">
    </div>
</div>
